<h3>{{event.name}}</h3>

<div>
  <h5>Tickets vendus</h5>
  <table>
    <thead>
    <tr>
      <th>N°</th>
      <th>Identifiant</th>
      <th>Type</th>
      <th>Date d'achat</th>
      <th>Derniere date de modification</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (userTicket of tickets; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ userTicket.ticketsPurchased[0].order }}</td>
          <td>{{ userTicket.ticketTypeTitle }}</td>
          <td>{{ userTicket.ticketsPurchased[0].createdDate | date }}</td>
          <td>{{ userTicket.ticketsPurchased[0].lastModifiedDate | date }}</td>
          <td>{{ userTicket.ticketsPurchased[0].status }}</td>
          <td>
            @for (option of userTicket.options; track $index){
              <button type="button" (click)="updateTicket(userTicket,option?.status)">{{ option?.label }}</button>
            }
<!--            <button type="button" (click)="updateTicket(userTicket,TicketStatus.CHECKED)">Contrôler</button>-->
<!--            <button type="button" (click)="updateTicket(userTicket,TicketStatus.CANCELED)">Annuler</button>-->
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
