
<section >
  <fieldset class="event-list">
    <legend>Mes évènements</legend>

    <button class="button button--primary" type="button" routerLink="upsert">Créer un évènement</button>

    <table class="admin-table">
      <thead>
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (event of eventList; track $index) {
          <tr>
            <td> {{ $index + 1 }}</td>
            <td> {{ event.name }}</td>
            <td> {{ event.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
            <td> {{ event.endDate | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td> {{ event.eventStatus }}</td>
            <td>
              <div style="display: flex; flex-direction: row; justify-content: center; gap: 5px" >
                <button class="button button--primary" type="button" [routerLink]="['upsert', event.id]">Modifier</button>
                <button class="button button--secondary" type="button" [routerLink]="[event.id]" [state]="{event : event}">Details</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </fieldset>

</section>
