*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0,0%,92%);
}

.content{
  max-width: 80%;
  margin : auto;
  margin-top: $spacing-3;
}

th {
 font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
