.event-upsert {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  row-gap: $spacing-8;

  > p {
    align-content: center;

    &:last-of-type {
      border-right: 1px solid black;
    }
  }
}
