<h3>Les évènements en cours</h3>

<section class="event-list">
  @for (event of eventList; track event.id) {
    <div class="event-card">

      <div class="event-info">
        <div class="event-info__img">image</div>
        <div class="event-info__label">
          <span>{{ event.name }}</span>
          <span>Location</span>
          <span>Du {{event.startDate | date:'dd/MM/yyyy HH:mm'}} au {{event.endDate | date:'dd/MM/yyyy HH:mm'}}</span>
          <p><strong>{{event.eventStatus}}</strong></p>
        </div>
      </div>



      <div class="ticket-container">
        @if (event.ticketTypes?.length) {
          @for (type of event.ticketTypes; track type.id){
            <div class="event-ticket">
              <div class="event-ticket__img"></div>
              <span class="event-ticket__title">{{ type.title }}</span>
              <span class="event-ticket__price">{{ type.price }}</span>
              <span>
                      <button class="button" type="button" [routerLink]="['ticket', event.id,'type', type.id]"
                              [state]="{type : type}"
                      >Billy!</button>
                    </span>
            </div>

          }
        } @else {
          <p>Pas de Billy configurés pour cet évènement</p>
        }

      </div>

    </div>
  }

</section>

