<h3>Les évènements en cours</h3>

<section class="event-list">
  @for (event of eventList; track event.id) {
    <div class="event-card">
      <div class="event-card__img">image</div>
      <div class="event-card__label">
        <span>{{ event.name }}</span>
        <span>Location</span>
        <span>Du {{event.startDate | date:'dd/MM/yyyy HH:mm'}} au {{event.endDate | date:'dd/MM/yyyy HH:mm'}}</span>
        <p>{{event.eventStatus}}</p>
      </div>
      <div class="event-card__ticket">
        tickets
      </div>
    </div>
  }

</section>


<table>
  <thead>
  <tr>
    <th>N°</th>
    <th>Nom</th>
    <th>Date de début</th>
    <th>Date de fin</th>
    <th>Statut</th>
    <th>Détails</th>
  </tr>
  </thead>
  <tbody>
    @for (event of eventList; track event.id) {
      <tr>
        <td> {{ $index + 1 }}</td>
        <td> {{ event.name }}</td>
        <td> {{ event.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
        <td> {{ event.endDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td> {{ event.eventStatus }}</td>
        <td>

        </td>
      </tr>
      @for (type of event.ticketTypes; track type.id){
        <tr>
          <td></td>
          <td>{{ $index + 1 }}</td>
          <td>{{ type.title }}</td>
          <td>{{ type.price }}</td>
          <td>
            <button type="button" [routerLink]="['ticket', event.id,'type', type.id]">Billy!</button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
