<h3>Mes évènements</h3>

<button type="button" routerLink="upsert">Les évènements en cours</button>

<table>
  <thead>
  <tr>
    <th>N°</th>
    <th>Nom</th>
    <th>Date de début</th>
    <th>Date de fin</th>
    <th>Statut</th>
    <th>Détails</th>
  </tr>
  </thead>
  <tbody>
    @for (event of eventList; track event.id) {
      <tr>
        <td> {{ $index + 1 }}</td>
        <td> {{ event.name }}</td>
        <td> {{ event.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
        <td> {{ event.endDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td> {{ event.eventStatus }}</td>
        <td>

        </td>
      </tr>
      @for (type of event.ticketTypes; track type.id){
        <tr>
          <td></td>
          <td>{{ $index + 1 }}</td>
          <td>{{ type.title }}</td>
          <td>{{ type.price }}</td>
          <td>
            <button type="button" [routerLink]="['ticket', event.id,'type', type.id]">Billy!</button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
