

.admin-table{
  margin-top: $spacing-5;
  width: 100%;
  text-align: center;
  border-collapse:separate;
  border-spacing:0 $spacing-3;

  td, th {
    padding-bottom: $spacing-3;
    border-bottom: 1px solid $color-grey-5;

  }
}
