
//Colors
$color-primary-100: hsl(50,93.8%,87.3%);
$color-primary-200: hsl(50,90.6%,83.3%);
$color-primary-300: hsl(50,90.5%,75.3%);
$color-primary-400: hsl(50,94.1%,73.3%);
$color-primary-500: hsl(50,100%,65.1%);
$color-primary-600: hsl(50,89.8%,50%);
$color-primary-700: hsl(50,82%,34.9%);
$color-primary-800: hsl(50,80.5%,22.2%);
$color-primary-900: hsl(50,79.2%,15.1%);

$color-orange-accent-1: hsl(25,88.2%,90%);
$color-orange-accent-2: hsl(25,88.2%,73.3%);
$color-orange-accent-3: hsl(25,100%,65.1%);
$color-orange-accent-4: hsl(25,80.8%,42.9%);
$color-orange-accent-5: hsl(25,100%,20%);

$color-green-accent-1: hsl(75,97.9%,81%);
$color-green-accent-2: hsl(75,81.2%,72.9%);
$color-green-accent-3: hsl(75,84.3%,54.9%);
$color-green-accent-4: hsl(75,63.7%,37.8%);
$color-green-accent-5: hsl(74,39%,23.1%);

$color-cyan-accent-1: hsl(191,90.9%,91.4%);
$color-cyan-accent-2: hsl(190,89.9%,76.7%);
$color-cyan-accent-3: hsl(190,100%,65.1%);
$color-cyan-accent-4: hsl(190,73.1%,46.7%);
$color-cyan-accent-5: hsl(190,57.8%,36.3%);

$color-grey-1: hsl(49,21.6%,90%);
$color-grey-2: hsl(50,18.1%,75.1%);
$color-grey-3: hsl(50,12.2%,50%);
$color-grey-4: hsl(49,11.1%,37.1%);
$color-grey-5: hsl(49,12.5%,25.1%);


// Spacing








// Text size
